#principal{
    height: 800px;
    width: 200px;
    margin-left: 25%;
}
#pregunta{
    height: 150px;
    width: 150px;
    font-size: 94px;
    margin-top: 60px;
    border-radius: 50%;
    background: #9E4BA4;
    position: absolute;
    color: white;
    
}
#txtExamen{
    margin-top: 228px;
    position: relative;
    margin-left: 0%;
    position: absolute;
}
#dExamen{
    margin-top: 20px;
    position: relative;
    margin-left: -35%;
    position: absolute;
    
}
#txtPasa{
    margin-top: 231px;
    position: relative;
    margin-left: -23%;
}
#divAbierta{
     margin-top: 340px;
    position: absolute;
    margin-left: 41%;
}
#divLineas{
     margin-top: 0px;
    position: absolute;
    margin-left: 41%;
}
#divOrdena{
     margin-top: 340px;
    position: absolute;
    margin-left: 0%;
}