@keyframes mostrar {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* The element to apply the animation to */
.cartas {
    animation-name: mostrar;
    animation-duration: 2s;
}

.imagen{
    height: 150px;    
}