*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background: #F7F7F7;
        
    
}
#f1{
    margin-left: 0px;
    margin-top: 30px;
    position: absolute;
    height: 300px;
    width: 900px;
}
#f2{
    margin-left: 500px;
    margin-top: 30px;
    position: absolute;
    height: 300px;
    width: 900px;
    
}
#f3{
    margin-left: 1100px;
    margin-top: 30px;
    position: absolute;
    height: 300px;
    width: 900px;
    
}
#f4{
    margin-left: 75px;
    margin-top: 710px;
    position: absolute;
    height: 300px;
    width: 1000px;
    
}

#formulario{
position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    z-index: 100;
    background-color: ;
}
.texto{
    font-size: 22px;
    margin-left: 180px;
}
#txtdatos{
    position: absolute;
    font-size: 30px;
    margin-left: 900px;
    margin-top: 200px;
}
#lic{
    position: absolute;
    margin-left: 527px;
    margin-top: -37px;
    
}
.btnActualizar{
    margin-left: 300px;
    margin-top: 30px;
}
#table_id{
 position: absolute;
margin-top: 600px;
margin-left: 100px;    
width: 1000px;    
}
#licen{
    margin-top: -300px;
    margin-left: -20px;
}